.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.title {
    font-size: 3em;
}

.filter {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.btn {
    width: 70%;
    margin-inline: 1em;
    background-color: #D9D9D9;
    border-radius: 15px;
    border: none;
}
