.center {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 3em;
}

.description {
    font-size: 2em;
    text-align: justify;
    padding-inline: 1.5em;
}

.languages {
    display: flex;
    justify-content: center;
}

.output {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    margin-block: 0.4em;
    padding: 0.3em 1em;
    font-size: 1.4em;
    width: 20em;
}

.expected {
    text-align: center;
}

.obtained {
    text-align: center;
}